{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                <i class="fas fa-bus"></i> Hoşgeldiniz!
            </h1>
        </div>
    </section>

    <section id="bus-search-features">
        <div class="container">
            <div id="features">
                <ul class="h-list">
                    <li class="box">
                        <i class="fas fa-headset"></i>
                        <h3>7/24 Müşteri Hizmetleri</h3>
                        <p>
                            Airchip mobil uygulamaları üzerinden yapacağınız tüm işlemlerde müşteri hizmetleri ekibimiz 7/24 yanınızda. Bir tıkla destek ekibimize bağlanabilirsiniz.
                        </p>
                    </li>
                    <li class="box">
                        <i class="fas fa-lock"></i>
                        <h3>Güvenli Ödeme</h3>
                        
                    </li>
                    <li class="box">
                        <i class="fas fa-wallet"></i>
                        <h3>Bütçe Dostu</h3>
                        
                    </li>
                  
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
