{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Kaydol</h3>
    <div class="box" style="border-radius:15px">
        {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. 
    </div>
{% endif %}
{% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                 <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus=""style="border-radius:15px;">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Ad" autofocus=""style="border-radius:15px;">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Şifre"style="border-radius:15px;">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth" style="background-color: #007bff; color: #FFFFFF;" style="border-radius:15px;">Kaydol</button>
        </form>
    </div>
    <div class="box" style="border-radius: 15px; padding: 10px;">
        Hesabınız var mı? <a href="{{ url_for('auth.login') }}" class="login-link" style="color: #007bff;">Giriş yap</a>
    </div>
</div> 
{% endblock %}



